/AcidRain/Saved
/AcidRain/Intermediate
/AcidRain/.vs
/AcidRain/Build
/AcidRain/Binaries
/AcidRain/Plugins
/AcidRain/Plugins
*_BuiltData.uasset
*.slo
*.sln
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.log
*.pdb